body {
    margin: 0;
    background: #252525;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.header-menu-list {
    display: flex;
    color: #eeeeee;
}

.header-menu-list h2 {
    color: #fefefe;
    margin-left: 12px;
    font-weight: normal;
    opacity: .5;
}

.header-menu-list h2:first-child {
    margin-left: 0;
}

.header-menu-list h2.active {
    opacity: 1;
    border-bottom: 1px solid #fefefe;
}

.search-container {
    margin-top: 16px;
    margin-bottom: auto;
}

.search-container img {
    width: 26px;
    height: 26px;
    padding: 8px;
    border-radius: 12px;
    background: #3b3b3b;
}

.dreams-container {
    display: grid;
    grid-gap: 12px;
}

.dreams-item {
    padding: 12px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
}

.dreams-item h2 {
    margin: 0 0 8px 0;
    color: #3b3b3b;
    font-size: 16px;
}

.dreams-item span {
    opacity: .5;
    font-weight: 500;
}

.dreams-item i {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 4px;
    opacity: .5;
}

.dreams-item:nth-child(1) {
    background: #e6ee9b;
}

.dreams-item:nth-child(2) {
    background: #cf93d9;
}

.dreams-item:nth-child(3) {
    background:#80deea;
}

.dreams-item:nth-child(4) {
    background: #80cbc4;
}

.dreams-item:nth-child(5) {
    background: #e6ee9b;
}

.dreams-item:nth-child(6) {
    background: #cf93d9;
}

.dreams-item:nth-child(7) {
    background:#80deea;
}