@import "variables.scss";

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* to change back when done with the css */
@media (prefers-color-scheme: light) {
	body {
		background: $background-default-dark;
		color: $font-color-default-dark;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background: $background-default-light;
		color: $font-color-default-light;
	}
}
